{% extends 'base.html' %}

{% block content %}
  <main>
    <div class="container">
      <h1>Lista de usuários</h1>
      <hr>
      {% for usuario in usuarios %}
      <ul>
        <li><b>ID:</b>{{ usuario.id_usuario }}</li>
        <li><b>Nome:</b>{{ usuario.nome }}</li>
        <li><b>CPF:</b>{{ usuario.cpf }}</li>
        <li><b>E-mail:</b>{{ usuario.email }}</li>
        <li><b>Gênero:</b>{{ usuario.genero }}</li>
      </ul>
      {% empty %}
        <h2>Nenhum usuário cadastrado</h2>
      {% endfor %}
    </div>
  </main>
{% endblock %}